/*Class to options of modal plugin*/
.activeModalAnim{
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform:scaleY(.01) scaleX(0);
  animation: openAnimation 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.activeModalAnimfull{
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform:scaleY(.01) scaleX(0);
  animation: openAnimation 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  transform:scale(1);
  animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.activeModal{
  position: absolute;
  display: block;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.viewCloseBtnLeftTop{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -15px;
  top: -15px;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}
.viewCloseBtnLeftBottom{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -15px;
  bottom: -15px;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}
.viewCloseBtnRightTop{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  top: -15px;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}
.viewCloseBtnRightBottom{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  bottom: -15px;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}

.viewCloseBtnLeftTop:hover, .viewCloseBtnLeftBottom:hover, .viewCloseBtnRightBottom:hover, .viewCloseBtnRightTop:hover{
  opacity: 90%;
  background-color: rgb(207, 36, 36);
}
.responsiveModal{
  right: 20%;
  top: 30%;
  width: 60%;
}
.notResponsive{
  right: 200px;
  top: 30%;
  width: 400px;
}

.none{
  background-color: rgb(39, 39, 39);
}
.soft{
  background-color: rgba(39, 39, 39, 0.872);
}
.standard{
  background-color: rgba(39, 39, 39, 0.519);
}
.very{
  background-color: rgba(39, 39, 39, 0.123);
}
.full{
  background-color: rgba(39, 39, 39, 0);
}

.close{
  display: none;
}

.messageBox{
  position: absolute;
  min-height: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 5px 5px black;
}
.messageBoxAnim{
  position: absolute;
  min-height: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 5px 5px black;
  transform:scale(0);
  animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.createdMsgBox{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.createdMsg{
  font-size: 30px;
  font-weight: 700;
}


.green{
  color: rgb(8, 171, 44);
}
.red{
  color: rgb(255, 41, 41);
}
.blue{
  color: rgb(5, 72, 255);
}
violet{
  color: rgb(191, 0, 220);
}
yellow{
  color: rgb(226, 234, 0);
}
.orange{
  color: rgb(238, 143, 0);
}
.black{
  color: rgb(0, 0, 0);
}

@keyframes openAnimation {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}